html, body {
    height: 100%;
}
//
@mixin loading-item-delay($time) {
    animation-delay: $time;
}
.loading-item-delay-1 {
    @include loading-item-delay(0.1s);
}
.loading-item-delay-2 {
    @include loading-item-delay(0.2s);
}
.loading-item-delay-3 {
    @include loading-item-delay(0.3s);
}
.loading-item-delay-4 {
    @include loading-item-delay(0.4s);
}
.loading-item-delay-5 {
    @include loading-item-delay(0.5s);
}
.loading-item-delay-6 {
    @include loading-item-delay(0.6s);
}
.loading-item-delay-7 {
    @include loading-item-delay(0.7s);
}
//
@mixin animation-item ($key) {
    position: relative;
    animation: $key 1s;
    animation-fill-mode: forwards;
}
@keyframes left-right {
    from {left: -500px;}
    to {left: 0px;}
  }
@keyframes right-left {
    from {right: -500px;}
    to {right: 0px;}
}
.left-to-right {
    @include animation-item(left-right);
}
.right-to-left {
    @include animation-item(right-left);
}
